 <ul>
    <li class="guest_name"><%=h guest.name %></li>
    <li class="address"><%=h guest.address %></li>
    <li class="city_state_zip"><%=h guest.city %>, <%=h guest.state %> <%=h guest.zip %></li>
    <li class="phone"><%=h guest.phone %></li>
    <li class="email"><%=h guest.email %></li>
</ul>