<% form_for [unit, rate_variation] do |f| %>
  <p class="rate_variations">
    Every <%= f.select :days_of_week, days_of_week_select_options, :label => false %> <br />
    between <%= f.text_field :start_date, :class => 'datepicker', :label => false, :value => rate_variation.start_date ? rate_variation.start_date.strftime('%d %b, %Y') : '' %> 
    and <%= f.text_field :end_date, :class => 'datepicker', :label => false, :value => rate_variation.end_date ? rate_variation.end_date.strftime('%d %b, %Y') : ''  %> <br />
    the rate <%= f.select :variation_type, variation_type_select_options, :label => false %> 
    by $<%= f.text_field :amount, :label => false %>.
  </p>
  <%= f.submit 'Submit' %> or 
  <%= link_to 'Cancel', unit, :class => 'cancel_edit_variation' %>
<% end %>