<div id="unit_list">
  <ul>
    <% units.each do |u| %>
    <li>
      <h4><%= u.name %></h4>
      <p><%= u.description %></p>
      <%= image_tag u.photo(:small) %>
      <% form_tag new_booking_path do |f| %>
      <%= number_to_currency u.rate_with_variations(arrival, departure) %>
      <%= hidden_field_tag :start_date, arrival %>
      <%= hidden_field_tag :end_date, departure %>
      <%= hidden_field_tag :unit_id, u.id %>
      <%= submit_tag 'Book Now' %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>