<h3>Reservation Details</h3>

<div class="status">
  <span class="<%= @reservation.state %>"><%= @reservation.state.humanize %></span>
</div>
<div id="actions">
<% form_for(@reservation, :url => { :action => "update_status" }) do |f| %>
  <%= f.collection_select :state, @reservation.state_transitions, :to_name, :event_to_humanize, :include_blank => "Please Select...", :label => "Action:" %>
  <%= f.submit "Set Status" %>
<% end %>
</div>
<% guest = @reservation.guest %>
<div id="reservation_details">
  <div id="guest_information">
    <h4>Guest Information</h4>
    <%= link_to "edit", edit_guest_path(guest), :class => 'edit' unless @reservation.cancelled? %>
    <div class="information_wrapper">
      <%= render :partial => 'guests/guest_details', :locals => { :guest => guest } %>
    </div>
  </div>
  <div id="reservation_information">
    <h4>Reservation Information</h4>
    <%= link_to "edit", edit_reservation_path(@reservation), :class => 'edit' unless @reservation.cancelled? %>
    <div class="information_wrapper">
      <%= render :partial => 'reservations/reservation_details', :locals => { :reservation => @reservation } %>
    </div>
  </div>
</div>
<div id="invoice">
  <h4>Invoice</h4>
  <div id="invoice_details">
    <table width="100%" id="table_invoice">
      <thead>
        <tr><th>Item</th><th class="right">Price</th></td>
      </thead>
      <tr class="line_item">
        <td>
          <h5><%= @reservation.unit.name %></h5>
          <span class="invoice_date"><%= "#{@reservation.start_date.strftime('%A %B %d, %Y')} - #{@reservation.end_date.strftime('%A %B %d, %Y')} (#{pluralize @reservation.length_of_stay, 'night'})" %></span>
          
        </td>
        <td class="right">
            <span class="invoice_price"><%= "#{number_to_currency @reservation.price_before_tax}" %></span>
        </td>
      </tr>
      <tr><td class="right bord_l">Subtotal</td><td class="right bord_r"><%= "#{number_to_currency @reservation.price_before_tax}" %></td></tr>
      <tr><td class="right bord_l">Tax <%= "(#{"%00.0f" % (current_account.tax_rate * 100)}%)" %></td><td class="right bord_r"><%= "#{number_to_currency @reservation.tax}" %></td></tr>
      <tr class="bord_bot"><td class="right bord_l">Total</td><td class="right bord_r total"><%= "#{number_to_currency @reservation.price_after_tax}" %></td></tr>
     </table>
  </div>
</div>