<h3>Reservation Details</h3>

<div class="status">
  <span class="<%= @reservation.state %>"><%= @reservation.state.humanize %></span>
</div>
<div id="actions">
  Actions: <%= print_reservation_action(@reservation) %>
</div>
<% guest = @reservation.guest %>
<div id="reservation_details">
  <div id="guest_information">
    <h4>Guest Information</h4>
    <%= link_to "edit", edit_guest_path(guest), :class => 'edit' unless @reservation.cancelled? %>
    <div class="information_wrapper">
      <%= render :partial => 'guests/guest_details', :locals => { :guest => guest }%>
    </div>
  </div>
  <div id="reservation_information">
    <h4>Reservation Information</h4>
    <%= link_to "edit", edit_reservation_path(@reservation), :class => 'edit' unless @reservation.cancelled? %>
    <div class="information_wrapper">
      <dl>
        <dt>Arrival:</dt>
        <dd class="arrival"><%=h @reservation.start_date.strftime("%a %b %d, %Y") %></dd>
        <dt>Departure:</dt>
        <dd class="Departure"><%=h @reservation.end_date.strftime("%a %b %d, %Y") %></dd>
        <dt>Length of Stay:</dt>
        <dd class="length_of_stay"><%=h pluralize @reservation.length_of_stay, "Night" %></dd>
        <dt>Unit:</dt>
        <dd class="unit"><%=h @reservation.unit.name %></dd>
      </dl>
    </div>
  </div>
</div>