<h3>New Unit</h3>
<% form_for(@unit, :html => {:class => 'edit_unit_photo', :multipart => true}) do |f| %>
<%= f.error_messages %>

  <fieldset class="new_unit_information">
    <%= f.text_field :name, :class => 'text_field', :size => nil %>
    <%= f.text_field :base_rate, :class => 'text_field', :label => 'Base Rate', :size => nil %>
    <%= f.text_area :description %>
    
    <label for="unit_photo">Photo</label>
    <%= f.file_field :photo %>
  </fieldset>
  <%= f.submit 'Submit', :class => 'submit' %>
<% end %>