<% first_day_of_month = Date.civil(month.year, month.month, 1) %>
<% last_day_of_month = first_day_of_month + 1.months - 1.days %>

<h5><%= first_day_of_month.strftime("%B %Y") %></h5>
<div id="mini_calendar_nav">
  <ul>
    <li><%= link_to 'Previous', show_rate_calendar_unit_path(@unit, :month => month - 1.month), :class => 'previous_month' %></li>
    <li><%= link_to 'Next', show_rate_calendar_unit_path(@unit, :month => month + 1.month), :class => 'next_month' %></li>
  </ul>
</div>
<table class="mini_cal">
  <thead>
    <tr><th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th></tr>
  </thead>
  <tr>
    <% (1..first_day_of_month.wday).each do |empty| %><td>&nbsp;</td><% end %>
<% first_day_of_month.step(last_day_of_month) do |date| %>
  <td><span><%= date.day %></span><p><%= "%05.02f" % (unit.rate_for_day date) %></p></td>
  <%= "</tr>" if date.wday == 6 %>
<% end %>

<% (last_day_of_month.wday...6).each do |empty| %>
  <td>&nbsp;</td>
<% end %>
<%= "</tr>" if last_day_of_month.wday != 6 %>
</tr>
</table>