<style>
  *{
    font-family:Arial;
    font-size:small;
  }
  table{
    border:1px solid #ccc;
    border-collapse: collapse; border-spacing: 0;
  }
  
  td, th{

    border:1px solid #ccc;
    margin:0;
  }
  
  td span{
    position:relative;
    top:2px;
    left:2px;
    font-size:.8em;
    color:#666;
  }
  
  td p{
    margin:0;
    padding:5px;
    text-align:center;
    font-size:.9em;
  }
  
  td{
    vertical-align:top;
  }
</style>
<% first_day_of_month = Date.civil(@month.year, @month.month, 1) %>
<% last_day_of_month = first_day_of_month + 1.months - 1.days %>

<h4><%= first_day_of_month.strftime("%B %Y") %></h4>
<table>
  <thead>
    <tr><th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th></tr>
  </thead>
  <tr>
    <% (1..first_day_of_month.wday).each do |empty| %><td>&nbsp;</td><% end %>
<% first_day_of_month.step(last_day_of_month) do |date| %>
  <td><span><%= date.day %></span><p><%= "%05.02f" % (@unit.rate_for_day date) %></p></td>
  <%= "</tr>" if date.wday == 6 %>
<% end %>

<% (last_day_of_month.wday...6).each do |empty| %>
  <td>&nbsp;</td>
<% end %>
<%= "</tr>" if last_day_of_month.wday != 6 %>
</tr>
</table>