<h3>Unit Details</h3>
<div id="unit_information">
    <h4>Unit Information</h4>
    <%= link_to 'edit', edit_unit_path(@unit), :class => 'edit' %>
    <div class="information_wrapper">
       <%= render :partial => 'unit_details', :locals => { :unit => @unit} %>
    </div>
</div>
<div id="unit_gallery">
  <h4>Photo</h4>
  <%= link_to 'edit', edit_photo_unit_path(@unit), :class => 'edit' %>
  <div class="information_wrapper">
     <%= render :partial => 'unit_photo', :locals => { :unit => @unit} %>
  </div>
</div>
<div id="unit_rate_variations">
  <h4>Rate Variations</h4>
  <div class="information_wrapper">
    <%= render :partial => 'rate_variations', :locals => { :rate_variations => @unit.rate_variations } %>
  </div>
</div>