<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Booking Form | Suitcase</title>
	<%= stylesheet_link_tag 'booking/layout' %>
	<%= stylesheet_link_tag 'booking/redmond/jquery-ui-1.7.2.custom.css' %>
	<%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'jquery.livequery' %>
  <%= javascript_include_tag 'ui.core' %>
  <%= javascript_include_tag 'effects.core' %>
  <%= javascript_include_tag 'ui.datepicker' %>
  <%= javascript_include_tag 'application_booking' %>
</head>

<body>
  <%= yield %>
  <div id="branding">
    <p>Powered by <a href="#">Suitcase</a></p>
  </div>
</body>
</html>
