<p>
  The rate is a percentage, so 0.1 is a 10% affiliate fee.
</p>

<%= form.error_messages %>
<fieldset>
  <%= form.text_field :name %>
  <%= form.text_field :token %>
  <%= form.text_field :rate %>
</fieldset>
<%= submit_tag %>
